.flip-card {
  /* perspective: 1000px; */
  max-width: 100wh;
  width: 380px;
  height: 200px;
  background-color: red;
  transition: transform 0.6s;
  border-radius: 10px;
  padding: 10px;
}

.flip-card:hover .flip-card-inner {
  transition: transform 1.5s ease-in-out;
  transform: rotateY(180deg);
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  height: 100%;
  width: 100%;
  justify-content: center;
}

.flip-card-back {
  transform: rotateY(180deg);
  height: 100%;
  width: 100%;
  justify-content: center;
}

/* .card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } */
