.vcuContainer {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  flex-wrap: wrap;
  /* background-color: black; */
}

/* Vcu Header styles */
.vcuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  padding: 0px 10px;
}
.vcuRightBlock {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items: center;
  padding: 0px 30px;
}
.logo {
  width: 200px;
}
.logoImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title h1 {
  font-family: "Segoe-UI-bold";
}

.vehicleNumbers {
  border: none;
  height: 50px;
  width: 100px;
  background-color: #00aa13;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.vehicleNumbers h2,
p {
  font-family: "Segoe UI";
  font-weight: 600;
  color: white;
}
.dateRange {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dateRange input {
  background-color: lightgray;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 10px;
}

/* filter styles */

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding: 0px 12px;
}

/* button styles */

.btnContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.vehicleBtn {
  width: 200px;
  /* background-color: white; */
  /* background-color: #40f416; */
  background-color: #00aa13;
  /* color: #40f416; */
  color: white;
  font-weight: bold;
  font-family: "Segoe UI";
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  /* border: 1px solid #40f416; */
  border: 1px solid #00aa13;
  font-size: 16px;
  padding: 8px 0px;
  border-radius: 8px;
}
.inActiveBtn {
  width: 200px;
  background-color: white;
  /* color: #40f416; */
  color: black;
  font-weight: bold;
  font-family: "Segoe UI";
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  /* border: 1px solid #40f416; */
  border: 1px solid #00aa13;
  font-size: 16px;
  padding: 8px 0px;
  border-radius: 8px;
}

.vehicleBtn:hover {
  width: 200px;
  /* background-color: #40f416; */
  color: white;
  transition: 1s 0.2s ease-in-out;
}

/* fliping card Styles */

.cardMainContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 4px 0px;
}

.cardContainer {
  padding: 8px 0px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-inline: 30px;
}
.class1{
  background-color: black;
}

/* .cardMainContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 4px 0px;
}

.cardContainer {
  padding: 8px 0px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(380px, 1fr)
  ); 
  gap: 10px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-inline: 30px;
  flex-wrap: wrap;
} */

/* .frontContent h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
} */

/* @media screen and (min-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
}

@media screen and (min-width: 1200px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    margin-inline: 60px; 
  }
} */