.flip-card {
  width: 380px;
  height: 140px;
  perspective: 1000px;
  cursor: pointer;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s 0.1s ease-in-out;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  justify-content: center;
  align-items: center;
}

.flip-card-front,
.flip-card-back div {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.flip-card-front {
  /* background-color: #00aa13; */
  color: white;
}

.flip-card-back {
  /* background-color: #2ecc71;  */
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  padding: 8px;
  border-radius: 8px;
}
