* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Segoe UI";
  src: url("../src/assets/fonts/Segoe\ UI.ttf");
}
@font-face {
  font-family: "Segoe-UI-bold";
  src: url("../src/assets/fonts/Segoe\ UI\ Bold.ttf");
}

.MuiButtonBase-root {
  width: 20px !important;
  height: 20px !important;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-picker-dropdown .ant-picker-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 0px 50px;
}
:where(.css-dev-only-do-not-override-42nv3w).ant-picker-dropdown .ant-picker-header-view{
  display: flex;
  flex-direction: row;
}
:where(.css-dev-only-do-not-override-42nv3w).ant-picker-dropdown .ant-picker-header >button{
  color: red;
}