/* .bmsBtnContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
  } */
  
  .vcuBtn{
    width: 180px;
    /* background-color: white; */
    background-color: red;
    /* color: #404fb1; */
    color: white;
    font-weight: bold;
    font-family: "Segoe UI";
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    padding: 6px 0px;
    border-radius: 8px;
    border: 0.1px solid #404fb1;
  }

  .inActiveBtn {
    width: 200px;
    background-color: white;
    /* color: #40f416; */
    color: black;
    font-weight: bold;
    font-family: "Segoe UI";
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #40f416;
    font-size: 16px;
    padding: 8px 0px;
    border-radius: 8px;
  }
  